<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>addnote</servlet-name>
		<jsp-file>/add_notes.jsp</jsp-file>
	</servlet>

    <servlet-mapping>
    <servlet-name>addnote</servlet-name>
    <url-pattern>/addNote</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>home</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

    <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>shownotes</servlet-name>
		<jsp-file>/show_notes.jsp</jsp-file>
	</servlet>

    <servlet-mapping>
    <servlet-name>shownotes</servlet-name>
    <url-pattern>/showNotes</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>editnotes</servlet-name>
		<jsp-file>/edit_note.jsp</jsp-file>
	</servlet>

    <servlet-mapping>
    <servlet-name>editnotes</servlet-name>
    <url-pattern>/editNotes</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>registerpage</servlet-name>
		<jsp-file>/register.jsp</jsp-file>
	</servlet>

    <servlet-mapping>
    <servlet-name>registerpage</servlet-name>
    <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>loginpage</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>

    <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/Login</url-pattern>
    </servlet-mapping>



	<servlet>
		<servlet-name>SaveNote</servlet-name>
		<display-name>SaveNote</display-name>

		<description></description>
		<servlet-class>com.notetaker.servlets.SaveNote</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteNote</servlet-name>
		<display-name>DeleteNote</display-name>
		<description></description>
		<servlet-class>com.notetaker.servlets.DeleteNote</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditNote</servlet-name>
		<display-name>EditNote</display-name>
		<description></description>
		<servlet-class>com.notetaker.servlets.EditNote</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>com.notetaker.servlets.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServ</servlet-name>
		<display-name>LoginServ</display-name>
		<description></description>
		<servlet-class>com.notetaker.servlets.LoginServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<display-name>LogOut</display-name>
		<description></description>
		<servlet-class>com.notetaker.servlets.LogOut</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>SaveNote</servlet-name>
		<url-pattern>/SaveNote</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteNote</servlet-name>
		<url-pattern>/deleteNote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditNote</servlet-name>
		<url-pattern>/editNote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/RegisterServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServ</servlet-name>
		<url-pattern>/LoginServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	

</web-app>
